In [25]:
# Dependencies
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import *
from sqlalchemy.sql import select
from sqlalchemy.orm import Session, sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy_utils import database_exists, create_database, drop_database
from config import username, password

In [26]:
###EXTRACT

# Read .csv data into DataFrames
dfPop2000 = pd.DataFrame # Population by zipcode, 2000
csvFile = 'Resources/population_by_zip_2000.csv'
dfPop2000 = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfPop2010 = pd.DataFrame # Population by zipcode, 2010
csvFile = 'Resources/population_by_zip_2010.csv'
dfPop2010 = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfBars = pd.DataFrame # Bars dataset
csvFile = 'Resources/8260_1.csv'
dfBars = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)

In [27]:
###TRANSFORM

# Bars DataFrame - dirty data clean-up! (Need to be able to merge on 'zipcode') 
dfBars.dropna(subset=['postalCode'],inplace=True) # Drop rows with no zipcode listed
dfBars['postalCode'] = dfBars['postalCode'].str.zfill(5) # Prepend '0' if zipcode less than 5 digits long
dfBars['postalCode'] = dfBars['postalCode'].str.slice(start=0,stop=5) # Keep only first 5 digits of zipcode
bars_columns = [u'postalCode',u'name'] # the 'u' before column name -should- make sure all data is utf-8 compliant
bars_clean = dfBars[bars_columns].copy()
dfBars=bars_clean.rename(columns={'postalCode':'zipcode'})
dfBars.head()

  zipcode                     name
1   53212      The Waterfront Cafe
2   93612        559 Local Brewing
3   53515                Shack The
4   47130         Flat12 Bierworks
5   98072  Redhook Ale Brewery Inc

In [28]:
# Create new DataFrame to hold count of bars in each zipcode
ZipBars = dfBars.groupby(['zipcode']).count()
ZipBars.sort_values('name',ascending=False,inplace=True)
ZipBars.rename(columns={'name':'bar_count'},inplace=True)
ZipBars.head()

         bar_count
zipcode
04412           57
93446           51
94558           49
95448           44
43215           42

In [29]:
# Population DataFrames - cleanup
dfPop2000.dropna(subset=['zipcode'],inplace=True) # Drop rows with no zipcode listed
dfPop2010.dropna(subset=['zipcode'],inplace=True) 
dfPop2000['zipcode'] = dfPop2000['zipcode'].str.zfill(5) # Prepend '0' if zip < 5 digits long
dfPop2010['zipcode'] = dfPop2010['zipcode'].str.zfill(5)
dfPop2000['zipcode'] = dfPop2000['zipcode'].str.slice(start=0,stop=5) # Keep only first 5 digits
dfPop2010['zipcode'] = dfPop2010['zipcode'].str.slice(start=0,stop=5)
dfPop2000.head()

  minimum_age maximum_age  gender population zipcode          geo_id
0          10          14  female         75   39769  8600000US39769
1          85         NaN  female        130   44047  8600000US44047
2          30          34  female         11   42436  8600000US42436
3          22          24    male         22   99685  8600000US99685
4          67          69    male         69   04239  8600000US04239

In [30]:
# Convert population data to int to enable aggregation
dfPop2000['population'] = dfPop2010['population'].astype(int)
dfPop2010['population'] = dfPop2010['population'].astype(int)

In [31]:
# Create DataFrames to hold total population by zipcode
ZipPop2000 = dfPop2000.groupby(['zipcode'])['population'].sum()
ZipPop2010 = dfPop2010.groupby(['zipcode'])['population'].sum()
ZipPop2000.head()

zipcode
00601     9157
00602    12868
00603    29139
00604    18476
00606    39821
Name: population, dtype: int64

In [32]:
# Create DataFrames to show population grouped by zipcode and gender
GenderPop2000 = dfPop2000.groupby(['zipcode','gender'])['population'].sum()
GenderPop2010 = dfPop2010.groupby(['zipcode','gender'])['population'].sum()
GenderPop2000.head()

zipcode  gender
00601    female     1469
         male       7665
00602    female     5000
         male       7620
00603    female    14015
Name: population, dtype: int64

In [33]:
# Generate dictionaries from DataFrames
bar_names = {'zipcode','name'}
bars_by_zip = {'zipcode','bar_count'}
pop_by_zip2000 = {'zipcode','population'}
pop_by_zip2010 = {'zipcode','population'}
gender2000 = {'zipcode','gender','population'}
gender2010 = {'zipcode','gender','population'}
pop_female2000 = {'zipcode':'population'}
pop_male2000 = {'zipcode':'population'}
pop_female2010 = {'zipcode':'population'}
pop_male2010 = {'zipcode':'population'}

bar_names = dfBars.to_dict()
bars_by_zip = ZipBars.to_dict()
pop_by_zip2000 = ZipPop2000.to_dict()
pop_by_zip2010 = ZipPop2010.to_dict()
gender2000 = GenderPop2000.to_dict()
gender2010 = GenderPop2010.to_dict()
for key, value in gender2000.items():
    if key[1] == 'female': pop_female2000.update({key[0]:value})
    if key[1] == 'male': pop_male2000.update({key[0]:value})
for key, value in gender2010.items():
    if key[1] == 'female': pop_female2010.update({key[0]:value})
    if key[1] == 'male': pop_male2010.update({key[0]:value})

In [ ]:
### LOAD

# Create connection to Bars_db
rds_connection_string = username + ':' + password + '@127.0.0.1/Bars_db' #username and password variables stored locally in config.py
engine = create_engine(f'mysql://{rds_connection_string}',echo=False)
if database_exists(engine.url): #check to see if Bars_db exists...
    drop_database(engine.url) #if it does, delete it...
if not database_exists(engine.url): #check to see if Bars_db exists...
    create_database(engine.url) #if it doesn't, create it
conn = engine.connect()
Base = declarative_base()

In [ ]:
engine.table_names()

In [ ]:
# Define classes to create table schemas

class BarName(Base):
    __tablename__ = 'bar_name'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    name = Column(String(255))

class BarCount(Base):
    __tablename__ = 'bar_count'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    bar_count = Column(Integer)

class Population2000(Base):
    __tablename__ = 'population_by_zipcode_2000'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)

class Population2010(Base):
    __tablename__ = 'population_by_zipcode_2010'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)

class MalePopulation2000(Base):
    __tablename__ = 'male_population_by_zipcode_2000'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)

class MalePopulation2010(Base):
    __tablename__ = 'male_population_by_zipcode_2010'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)
    
class FemalePopulation2000(Base):
    __tablename__ = 'female_population_by_zipcode_2000'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)

class FemalePopulation2010(Base):
    __tablename__ = 'female_population_by_zipcode_2010'
    id = Column(Integer, primary_key=True,nullable=False)
    zipcode = Column(String(5))
    population = Column(Integer)
    
Base.metadata.create_all(conn)
tables = []
tables = engine.table_names()
tables

In [ ]:
# Get it to work ONCE

session = Session(bind=engine)
bar = BarName(zipcode='53212',name='The Waterfront Cafe')
session.add(bar)
session.commit()
result = conn.execute('SELECT * FROM bar_name;')
result.fetchall()

In [ ]:
# Create series of loops to make it work a whole bunch of times

In [ ]:
session.close()